@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: rgb(255, 187, 138);
    --cor-secundaria: rgb(106, 190, 124);
    --cor-terciaria: rgb(46, 102, 58);
    --cor-quaternaria: rgb(4,8,142);
}


*{
    margin: 0;
    padding: 0;


}
body{

    background: rgb(4,8,142);
 background-image: linear-gradient(200deg, rgba(213, 213, 213, 0.01) 0%, rgba(213, 213, 213, 0.01) 14.286%,rgba(140, 140, 140, 0.01) 14.286%, rgba(140, 140, 140, 0.01) 28.572%,rgba(52, 52, 52, 0.01) 28.572%, rgba(52, 52, 52, 0.01) 42.858%,rgba(38, 38, 38, 0.01) 42.858%, rgba(38, 38, 38, 0.01) 57.144%,rgba(159, 159, 159, 0.01) 57.144%, rgba(159, 159, 159, 0.01) 71.42999999999999%,rgba(71, 71, 71, 0.01) 71.43%, rgba(71, 71, 71, 0.01) 85.71600000000001%,rgba(88, 88, 88, 0.01) 85.716%, rgba(88, 88, 88, 0.01) 100.002%),linear-gradient(337deg, rgba(25, 25, 25, 0.01) 0%, rgba(25, 25, 25, 0.01) 12.5%,rgba(150, 150, 150, 0.01) 12.5%, rgba(150, 150, 150, 0.01) 25%,rgba(84, 84, 84, 0.01) 25%, rgba(84, 84, 84, 0.01) 37.5%,rgba(85, 85, 85, 0.01) 37.5%, rgba(85, 85, 85, 0.01) 50%,rgba(188, 188, 188, 0.01) 50%, rgba(188, 188, 188, 0.01) 62.5%,rgba(80, 80, 80, 0.01) 62.5%, rgba(80, 80, 80, 0.01) 75%,rgba(73, 73, 73, 0.01) 75%, rgba(73, 73, 73, 0.01) 87.5%,rgba(219, 219, 219, 0.01) 87.5%, rgba(219, 219, 219, 0.01) 100%),linear-gradient(203deg, rgba(233, 233, 233, 0.01) 0%, rgba(233, 233, 233, 0.01) 25%,rgba(114, 114, 114, 0.01) 25%, rgba(114, 114, 114, 0.01) 50%,rgba(164, 164, 164, 0.01) 50%, rgba(164, 164, 164, 0.01) 75%,rgba(228, 228, 228, 0.01) 75%, rgba(228, 228, 228, 0.01) 100%),linear-gradient(317deg, rgba(139, 139, 139, 0.02) 0%, rgba(139, 139, 139, 0.02) 16.667%,rgba(44, 44, 44, 0.02) 16.667%, rgba(44, 44, 44, 0.02) 33.334%,rgba(166, 166, 166, 0.02) 33.334%, rgba(166, 166, 166, 0.02) 50.001000000000005%,rgba(2, 2, 2, 0.02) 50.001%, rgba(2, 2, 2, 0.02) 66.668%,rgba(23, 23, 23, 0.02) 66.668%, rgba(23, 23, 23, 0.02) 83.33500000000001%,rgba(21, 21, 21, 0.02) 83.335%, rgba(21, 21, 21, 0.02) 100.002%),linear-gradient(328deg, rgba(3, 3, 3, 0.03) 0%, rgba(3, 3, 3, 0.03) 12.5%,rgba(116, 116, 116, 0.03) 12.5%, rgba(116, 116, 116, 0.03) 25%,rgba(214, 214, 214, 0.03) 25%, rgba(214, 214, 214, 0.03) 37.5%,rgba(217, 217, 217, 0.03) 37.5%, rgba(217, 217, 217, 0.03) 50%,rgba(68, 68, 68, 0.03) 50%, rgba(68, 68, 68, 0.03) 62.5%,rgba(118, 118, 118, 0.03) 62.5%, rgba(118, 118, 118, 0.03) 75%,rgba(200, 200, 200, 0.03) 75%, rgba(200, 200, 200, 0.03) 87.5%,rgba(198, 198, 198, 0.03) 87.5%, rgba(198, 198, 198, 0.03) 100%),linear-gradient(97deg, rgba(195, 195, 195, 0.03) 0%, rgba(195, 195, 195, 0.03) 16.667%,rgba(177, 177, 177, 0.03) 16.667%, rgba(177, 177, 177, 0.03) 33.334%,rgba(170, 170, 170, 0.03) 33.334%, rgba(170, 170, 170, 0.03) 50.001000000000005%,rgba(158, 158, 158, 0.03) 50.001%, rgba(158, 158, 158, 0.03) 66.668%,rgba(121, 121, 121, 0.03) 66.668%, rgba(121, 121, 121, 0.03) 83.33500000000001%,rgba(146, 146, 146, 0.03) 83.335%, rgba(146, 146, 146, 0.03) 100.002%),linear-gradient(268deg, rgba(103, 103, 103, 0.03) 0%, rgba(103, 103, 103, 0.03) 25%,rgba(112, 112, 112, 0.03) 25%, rgba(112, 112, 112, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(227, 227, 227, 0.03) 75%, rgba(227, 227, 227, 0.03) 100%),linear-gradient(90deg, hsl(98,0%,0%),hsl(98,0%,0%));
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 0 0 10%;
    color: rgb(255, 187, 138);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    text-decoration: none;
}

.cabecalho__menu__link {
    color:rgb(255, 187, 138);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.titulo-destaque{
    color: rgb(106, 190, 124);
}
.titulo-destaque2{
    color: rgb(255, 187, 138);
}

.apresentacao {
   padding:  8% 10%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    gap: 80px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 75px;

}

.apresentacao__conteudo__titulo {
    font-family: "Cinzel", serif;
    font-size: 2.25rem;
    margin-bottom: 25px;
    color: rgb(255, 187, 138);
}

.apresentacao__conteudo__paragrafo {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-size: 1.62rem;
    margin-bottom: 15px;
    color: rgb(255, 187, 138);
}

.apresentacao__conteudo__lista__item {
    font-family: "Montserrat", sans-serif;
    font-weight: 5;
    font-size: 1.56rem;
    color: rgb(255, 187, 138);
    display: flex;
    justify-content: column;
    flex-direction: column;
    
}

.apresentacao__conteudo__redes-sociais {
    display: flex;
    justify-content: column;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.apresentacao__conteudo__redes-sociais__subtitulo {
    font-family: "Cinzel", serif;
    font-weight: 900;
    font-size: 1.25rem;
    color: rgb(46, 102, 58);

}

.apresentacao__links {
    justify-content: center;
    display: flex;
    gap: 16px;
    border: 2px outset rgb(46, 102, 58);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: rgb(27, 68, 36);
    font-family: "Montserrat", sans-serif;
}

.apresentacao__links:hover {
    text-decoration: none;
    background: rgb(7, 28, 11);
    color: rgb(255, 187, 138);


}

.apresentacao__imagem {
    width: 50%;
  
}

.rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: rgb(255, 187, 138);
    font-family: "Montserrat", sans-serif;
    font-size: 0.93rem;
}

@media (max-width: 768px) {
    .cabecalho {
        padding: 2% 0 0 5%;
    }

    .apresentacao {
        padding: 8% 5%;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .apresentacao__conteudo__titulo {
        font-size: 1.75rem;
    }

    .apresentacao__conteudo__paragrafo {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__lista__item {
        font-size: 1.25rem;
    }

    .apresentacao__conteudo__redes-sociais__subtitulo {
        font-size: 1rem;
    }

    .apresentacao__links {
        width: 100%;
    }

    .apresentacao__imagem {
        width: 100%;
    }
}